input{
    background-color: rgb(241, 229, 214);
    margin: 5px;
    padding: 5px;
    color: darksalmon;
    border-radius: 7px;
}
button{
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}