body{
    background-color: rgb(36, 34, 34);
}

form input{
    background-color: rgb(241, 229, 214);
    margin: 10px;
    padding: 8px;
    color: darksalmon;
    border-radius: 7px;
    height: 40px;
    width: 300px;
}

div form button{
    
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    width: 300px;
}
@media (max-width : 1000px)
{
    .flex{
        flex-direction: column;
    }
    form input{
        width: 200px;
    }
    div form button{
        width: 200px;
    }
}