body{
    background-color: rgb(36, 34, 34);
}
input{
    background-color: rgb(241, 229, 214);
    margin: 5px;
    padding: 8px;
    color: darksalmon;
    border-radius: 7px;
    height: 40px;
}

.btn{
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
@media (max-width : 1000px)
{
    .flex{
        flex-direction: column;
    }
}